.booking {
}
.booking__container {
	> *:first-child {
		height: 90vh;
	}

	> *:last-child {
		height: 10vh;
	}
}
.booking__left {
}
.booking__heading {
	// height: 10vh;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 20px;
}
.booking__form {
	// max-width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	gap: 10px;
	.form__button {
		grid-column: 1 / -1;
	}
	.form__input[type="date"] {
		resize: none;
	}
}
.booking__right {
}
.booking__img {
}
.booking__info {
	opacity: 0.5;
}

@media (max-width: 500px) {
	.booking__form {
		grid-template-columns: repeat(1, 1fr);
	}
}
