.events {
	// overflow-x: hidden;
	@include background("/dist/assets/img/Private Events.jpg");
	color: #fff;
}
.events__container {
}
.events__heading {
}

.events__main {
	// overflow: hidden;
}

.events__img-left {
	display: inline-block;
}
.events__img-right {
	display: inline-block;
}
.double-section__bottom {
}
.events__info {
}
