.events {
	@include background("/dist/assets/img/Private Events.jpg");
	color: #fff;
}
.events__main {
	gap: 40px;
}
.events__img-left {
	display: inline-block;
}
.events__img-right {
	display: inline-block;
}

@media (max-width: 1024px) {
	.events__main > .img-wrapper,
	.events__main > .img-wrapper--reverse {
		display: block;
		.img-wrapper__item {
			margin-top: 0;
		}
	}
}
@media (max-width: 768px) {
	.events {
		display: none;
	}
}
