.galerie {
	max-width: 100%;

	// for safari
	display: flex;
	flex-wrap: wrap;

	& > * {
		min-height: unset;
		flex: 1 1 auto;
		width: 10%;
		height: auto;
	}
}

// @media (max-width: 490px) {
// 	.galerie {
// 		& > * {
// 			// min-width: 125px;
// 		}
// 	}
// }
