.galerie {
	max-width: 100%;
	display: flex;
	& > * {
		flex: 1 1 auto;
		width: 10%;
		height: auto;
	}
}

// @media (max-width: 490px) {
// 	.galerie {
// 		flex-wrap: wrap;
// 		& > * {
// 			// min-width: 125px;
// 		}
// 	}
// }
