.header {
	position: absolute;
	height: 15vh;
	width: 100%;
}

.header__container {
	height: 100%;
}

.header__nav {
	height: 100%;
	display: flex;
	// justify-content: space-around;
	align-items: center;
}

.header__nav-first,
.header__nav-second {
	display: flex;
	justify-content: center;
	width: 45%;
}
.header__nav-center {
	width: 10%;
}

.header__item {
	position: relative;
	transition: all 0.35s ease;
	padding: 20px;

	&::before {
		transition: background-color 0.4s linear, width 0.35s ease;
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 3px;
		width: 0;
		background-color: $clr-primary;
	}
	&:hover {
		text-shadow: 1px 1px 25px rgba(#fff, 0.7);
		// text-shadow: -1px 1px 20px #fff;
		&::before {
			background-color: darken($clr-primary, 20%);
			width: 100%;
		}
	}
}

.header__link {
	font-weight: 700;
	color: #fff;
}

.header__logo {
	position: absolute;
	top: 5vh;
	left: 50%;
	&::before,
	&::after {
		content: "";
		position: absolute;
		height: 1px;
		max-width: 530px;
		width: 30vw;
		background-color: rgba(#fff, 0.2);
		top: 50%;
	}
	&::before {
		left: 0;
		transform: translateX(-130%);
	}
	&::after {
		// display: none;
		right: 0;
		transform: translateX(90%);
	}
}

.header__logo-link {
}

.header__logo-img {
	transform: translateX(-50%);
	transition: all 0.7s ease;
	// transform: translateY(35%);
	&:hover {
		transform: translateX(-50%) rotate(90deg);
	}
}

@media (max-width: 1024px) {
	.header {
		display: none;
	}
}
